<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <nb-card class="bg-primary">
        <nb-card-body>
          <div class="row">
            <div class="col-4">
              <i class="fa fa-users icon"></i>
            </div>
            <div class="col-8">
              <span class="m-0">Total Patients</span>
              <h5>1000 <small> In Total</small></h5>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card class="bg-secondary">
        <nb-card-body>
          <div class="row">
            <div class="col-4">
              <i class="fa fa-ambulance icon"></i>
            </div>
            <div class="col-8">
              <span class="m-0">Total Rescuer</span>
              <h5>1000 <small> In Total</small></h5>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card class="bg-info">
        <nb-card-body>
          <div class="row">
            <div class="col-4">
              <i class="fa fa-phone icon"></i>
            </div>
            <div class="col-8">
              <span class="m-0">Total Accepted Rescue</span>
              <h5>1000 <small> In Total</small></h5>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card class="bg-danger">
        <nb-card-body>
          <div class="row">
            <div class="col-4">
              <i class="fa fa-ban icon"></i>
            </div>
            <div class="col-8">
              <span class="m-0">Total Rejected Rescue</span>
              <h5>1000 <small> In Total</small></h5>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

